{% extends 'base.html.twig' %}

{% block title %}Details Bird{% endblock %}

{% block body %}

Bird {{ name }}
<br>
Details : {{ description }}

<hr>
<a href="{{ path('home') }}">Retour à la liste</a>
{% endblock %}
