<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>A Field Guide to Angry birds</h1>

        <h3>Games that lodge in the brain often have comical stars </h3>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
